Plugins>Barnhill_Toolkit, "Custom Legend", com.ericbarnhill.ijtoolkit.Custom_Legend
Plugins>Barnhill_Toolkit, "Selection To Indices", com.ericbarnhill.ijtoolkit.Selection_To_Indices
Plugins>Barnhill_Toolkit, "Indices To Selection", com.ericbarnhill.ijtoolkit.Indices_To_Selection
Plugins>Barnhill_Toolkit, "False Discovery Rate Testing", com.ericbarnhill.ijtoolkit.fdr.Significance_Test